.login{
    width: 350px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #000000;
}
.login input{
    width: 100%;
    height: 38px;
    margin-top: 16px;
    padding: 0 12px;
}
.loginBtn{
    width: 100%;
    display: flex;
    gap: 130px;
}
.button_log{
    width: 80px; 
    height: 40px;
    background-color:#3BB77E ;
    border: solid 1px black;
    border-radius: 10px;
    /* margin-left: 30px; */
}
.button_log:hover{
    background-color: #fff;
}
.chek_input{
    width: 100%;
    display: flex;
    align-items:center;
    
    input{
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
    }
    h5{
        opacity: 0.5;

    }
    a{
        margin-left: 80px;
    }
}